body{
    padding: 20px;
}
h2{
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    color: brown;
}
h1{
    color: brown;

}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group{
    margin-bottom: 20px;
    text-align: center;
}
.fields{
    width: 200px;
}
.fields label{
    margin: 0;
    padding: 0;
}
input{
    width: 400px;
    height: 40px;
}
